# DSC 10 Lecture 2: Expressions and Data Types

## Jupyter Notebooks, expressions, and data types
![image](./logos.png)

# Programming languages help extract information from data

* Python is popular for data science and software development.
* Learn through practice!
* Learn just enough to use it, as you need it!
* Follow along at [datahub.ucsd.edu](https://datahub.ucsd.edu)
* See the documentation for references: [Jupyter Documentation](https://jupyter-notebook.readthedocs.io/)

# Notebooks mix text with code

* Perfect for experimenting with code
    - Annotate code experimentation for others
* Perfect for presentations about data
    - Annotate data analysis with explanations
* It's not perfect for everything!
    - Software development, big projects, compiled languages...

# Notebook cells have two types: 
* `markdown`
* `code`
### (DEMO)

# Getting started with Python: expressions

Write an expression in a "code cell" and either hit "Shift-Enter" or press the "Run" button to evaluate the code!

In [3]:
2*3

6

# Read, Evaluate, Print
* Type an **expression** into a code cell.
* The python interpreter **evaluates** the expression.
* The notebook **displays the value** of the (last) expression in the cell.

In [4]:
# this is a comment
1 + 2 # this code demonstrates addition

3

In [7]:
7*8

56

In [6]:
# cannot display two expressions
4-2

2

# Numbers and Arithmetic

<img src="arithmetic_table.png" width=900/>

## Python uses typical order of operations (PEMDAS)

In [10]:
# example: exponentiation and multiplication
2*3**2

18

In [9]:
(2*3)**2

36

# Assignment: names and variables

$$ \overbrace{\texttt{myvariable}}^{\text{name}} = \overbrace{\texttt{2 + 3}}^{\text{any expression}} $$

* Assignment statements like above don't have a value.
* An assignment statement changes the meaning of the name to the left of the `=` symbol.
* `myvariable` is bound to `5` (value) not `2 + 3` (expression).

In [21]:
myvariable = 2 + 3
myvariable

5

Try doubling the value of `myvariable`.

In [22]:
myvariable = myvariable*2

### Aside: hit ```tab``` to autocomplete a set name

In [23]:
myvariable #tab for autocomplete

10

### A variable's value is set at the time of assignment

In [24]:
x = 2
y = 3 + x
y

5

In [25]:
x = 3

In [27]:
y = 3+x
y

6

# Call Expressions
* Call expressions invoke functions
* Functions are called in python just like in standard mathematics:
$$ y = f(x) $$
* Inputs are called arguments

In [28]:
abs(-12)

12

### Functions can be named

In [29]:
f = abs
x = -12
y = f(x)
y

12

### Functions can take more than one argument and even a variable number of arguments

In [33]:
max(3, -4, 5, 2, -9)

5

### Use the ```?``` after a function to see the documentation for a function
* or use the `help` function.

In [37]:
# round
my_number = 1.22
round(my_number, 1)

1.2

In [38]:
round?

In [ ]:
round(1.22222, 3)

### What functions are available for use?     [built-in functions](https://docs.python.org/3/library/functions.html)

<img src="./python_builtins.png"  width="900" align="middle"/>

## Import functions from Python modules
* Modules are roughly collections of Python functions.
* Access these functions via an *import statement*.
* Call the functions using `module.function()` syntax.

### Import the `math` module and look around
* sqrt, log, etc...

In [39]:
import math

In [41]:
# tab completion for browsing
math.sqrt(9)

3.0

In [44]:
# what base is log?
math.pow?

<center><img src="q2.png"  width="1000"/></center>

In [45]:
x=3 
y=-2

In [46]:
abs(x, y)

TypeError: abs() takes exactly one argument (2 given)

In [47]:
math.pow(x, abs(y))

9.0

In [55]:
max(4)

TypeError: 'int' object is not iterable

In [56]:
math.pow(x, math.pow(y,x))

0.00015241579027587258

# Data Types
* Every value in Python has a type, which describes how the value is stored. 
* Use the `type` function to find out the data type of any value.
* Understanding the data often requires understand how the data was stored.

# Two data types for numbers: ```float``` and ```int```
* ```int``` : an integer of any size
* ```float```: a number with an optional fractional part

### ```int```
* ints have arbitrary precision
* integer arithmetic: `+`, `-`, `*`, `**`

In [60]:
type(2**3)

int

In [61]:
2**6000

1513470582304237072513410067329391955423482356622077508836389416646889306993564534635830817676552455824162236150182627025523267446014684388515185452610872385131925014977944482910893194864870039450549067298170721939711827195277899152348801107671644590882157659897905715342306574668169658354699728703352747795407934837779271083755217530954282733292552820320384388452736605849854097009866199175847289532126439677946323677218741195176031143605520246681993939075046911841617410627221987267713724332646446061053160572807286503464245558500643221584631072641658731573097806459864337910226647829569494284055229751599736619753728848188090692318773574702174698843299086831373062575703757942149263399264787530048897154373819381136097105118607145954825590031647682047062652157439770794084025717418220995063370720546665168546633747096935011148065108431975289654040627344874607009807315363771104716985869481861040739858883444667635709902593581610755376089941291884120821811227210157156298148402819214731929270895508821230096451968194267364284229325768503489509991935215231081649023894346868133110803328310541268950321043061542938876190012860779210104580276403692887034246086754314279566458942937081999323928294877166406222310453677892068557340540597459094762172544492440478876793960002924059634516299394201455941482615164498572903667144188855598846763146090065079005267746644237582086328585101060359200085939560982221139190410290320736471223679431103604473374855519720454278533708018865824147794661166033633485429613879963993123931400014731049432239676739743030689374442267266097857265402044759137688500162237085777842605048998997700656346545264515630042484382164065996643359816205614528690639187167278480340820347644352745397902032133004265874403392556745361780498817583655041048101434716704942594567023160800649072869376

### ```float```
* a float is specified using a decimal point
* a float might be printed using scientific notation

In [67]:
type(2.0**3.5)

float

In [68]:
3.0**400

7.055079108655333e+190

### ```float```
* floats have limited size (but the limit is huge)
* floats have limited precision of 15-16 decimal places
* after arithmetic, the final decimal few places can be wrong (limited precision!)

In [ ]:
3.0*4.2

In [ ]:
3.0**4000

## Type coercion: changing the type between ```int``` and ```float```
* By default, python changes ``int`` to ``float`` in an expression with both types.
* The type can be explicitly changed using ```int``` and ```float``` functions.
* Division of two integers automatically returns a float value.

In [71]:
2.0 + 3

5.0

In [75]:
int(2/1)

2

In [76]:
# int rounds float down to the nearest integer
int(3.9)

3

### Be careful converting between ```int``` and ```float```

In [69]:
2.51 * 100

250.99999999999997

In [78]:
round(2.51 * 100)

251

### The consequences of `float` to `int` conversion error

The Ariane I exploded on launch in 1996 due to floating point conversion errors: 
[see story here](https://itsfoss.com/a-floating-point-error-that-caused-a-damage-worth-half-a-billion/)

<center><img src="ariane.jpg" width="400"/></center>

# Text, Strings, and Types

## A string value is a snippet of text of any length
* Enclose a string in either single or double quotes.

In [81]:
type("word")

str

In [82]:
type('word')

str

In [84]:
"12.0"+3

TypeError: must be str, not int

### String arithmetic: + and *

In [86]:
s1 = 'hello'
s2 = 'world'

In [95]:
(s1+" ")*7+s1

'hello hello hello hello hello hello hello hello'

In [96]:
"3" + "3"

'33'

### string methods
* Strings are associated with certain functions called *string methods*.
* Access string methods with a `.` after the string.
* e.g. `.upper()`, `.replace()`,...

In [98]:
my_cool_string = 'data science is super cool!'
my_cool_string

'data science is super cool!'

In [106]:
my_cool_string = my_cool_string.replace('super', 'really')

In [107]:
my_cool_string.capitalize().swapcase()

'dATA SCIENCE IS REALLY COOL!'

### Special characters in strings
* apostrophies, quotes, new-lines, etc...

In [108]:
'my string's full of apostrophes!'

SyntaxError: invalid syntax (<ipython-input-108-50d82291aa71>, line 1)

In [109]:
"my string's full of apostrophes!"

"my string's full of apostrophes!"

In [110]:
# escape the apostrophe with a backslash!
'my string\'s "full" of apostrophes!'

'my string\'s "full" of apostrophes!'

In [111]:
print('my string\'s "full" of apostrophes!')

my string's "full" of apostrophes!

## Digression: ```print()``` vs. string representation
* By default, Jupyter notebooks display the string represenation of the value of the expression of the last line in a cell.
* The function ```print``` displays the value in human-readable text.

In [112]:
my_newline_str = 'Here is a string with two lines.\nHere is the second line'  # '\n' inserts a new line
my_newline_str

'Here is a string with two lines.\nHere is the second line'

In [113]:
print(my_newline_str)  # notice the quotes disappear!

Here is a string with two lines.
Here is the second line

# Type conversion to and from strings

### Type conversion causes messy data!

Genomics data (string-to-date):
> "Geneticists use MARCH1 as shorthand for membrane associated ring-CH-type finger 1. But Excel interprets MARCH1 as a date, automatically converting it to 1-Mar or another designation for the first of March."

[Excel Is Autocorrecting Scientific Research. And That's Not Cool](https://science.howstuffworks.com/innovation/scientific-experiments/excel-is-autocorrecting-scientific-research-thats-not-cool.htm)

### Type conversion causes messy data!

Genomics data (string-to-float):

> "Excel misidentifies some other gene names as coordinates or floating points. You might be able to suss out that 1-Mar is actually MARCH1, but how about 2.31E+13? That's how Excel converts the RIKEN identifier 2310009E13."

[Excel Is Autocorrecting Scientific Research. And That's Not Cool](https://science.howstuffworks.com/innovation/scientific-experiments/excel-is-autocorrecting-scientific-research-thats-not-cool.htm)

<center><img src="./type_inference_2.png"  width="800"/></center>

## Type conversion to and from strings
* Any value can be converted to a string using ```str```
* Strings can be converted to ```int``` and ```float``` when possible

In [ ]:
str(3.0)

In [ ]:
float('3')

In [ ]:
int('chicken!')

In [ ]:
'6.0' + 3.0

In [ ]:
int('4.0')

In [ ]:
int(float('4.0'))

<center><img src="q3.png"  width="1000"/></center>

In [ ]:
x=3
y='4'
z='5.6'

In [ ]:
x+y

In [ ]:
x+int(y+z)

In [ ]:
str(x)+int(y)

In [ ]:
str(x)+z

# Arrays and Ranges

# Arrays
* An array contains a sequence of values.
* All elements of an array should have the **same type**.
* Arithmetic is applied to each element individually
* When two arrays are added, they must have the same size; corresponding elements are added in the result.
    - Unless one of the arrays has size one.

In [ ]:
from datascience import *        # datascience library for course
import numpy as np               # 'numerical python library' for working with arrays

## Arrays make working with data easy
* Add, subtract, multiply, divide, exponentiate.
* Use ``.item`` to access an array element by index.
* Warning: array indices start with zero!

In [ ]:
a1 = make_array(1,2,3)
a2 = make_array(3,2,1)

In [ ]:
a1 + a2

## Arrays for basic statistics: newborn birth weight

In [ ]:
baby1 = 3.405 
baby2 = 3.207
baby3 = 2.42
baby4 = 3.984

### Load the weights into an array of floats
* `make_array()`

In [ ]:
weights_kg =

### Calculate the deviation of weights from average
* Subtracting a number from an array subtracts the number from each element.

In [ ]:
avg_weight = 3.5 # average weight of ALL newborns (in kg)

### Convert the weights to pounds (2.2 lbs per kg)

### How many baby weights are recorded in the array?
* `len()` or `.size`

## Arrays for basic statistics: daily temperatures

### Below is an array of daily high temperatures in San Diego from August 2018

In [ ]:
temps = make_array(86, 85, 85, 84, 85, 86, 91, 89, 90, 88, 88, 85, 83, 82, 79, 81, 82,
                   83, 82, 79, 81, 83, 83, 79, 80, 80, 79, 80, 82, 82, 80)

Numbers of days temperatures are collected in August:

### Temperature statistics (mean, min, max)

In [ ]:
temps.sum() / temps.size  # use sum and size

In [ ]:
temps.mean() # build the mean method

In [ ]:
min(temps), max(temps) # built-in functions work on arrays

In [ ]:
temps.min(), temps.max() # the array has it's own min/max method (faster)

### Sort the temperatures / calculate differences

In [ ]:
np.sort(temps)

In [ ]:
np.diff(temps)

### Convert from Fahrenheit to Celsius
$$C = \dfrac{5}{9}\left(F-32\right)$$

# Ranges
* A range is an array of consecutive numbers
* ```np.arange(end)```: An array of increasing integers from 0 up to end
* ```np.arange(start, end)```: An array of increasing integers from start up to end
* ```np.arange(start, end, step)```: A range with step between consecutive values
* The range always includes start but excludes end (i.e. a half-open interval)

In [ ]:
np.arange(5)

In [ ]:
np.arange(3, 9)

In [ ]:
np.arange(3, 30, 5)

In [ ]:
np.arange(-3, 2, 0.5)

In [ ]:
np.arange(1, -3)

In [ ]:
np.arange(1, -3, -1)

<center><img src="q4.png"  width="800"/></center>

In [ ]:
x = make_array(2, 3, 4)
y = np.arange(2, 3, 4)
z = np.arange(3)

In [ ]:
x+y

In [ ]:
x+z

In [ ]:
z.item(0)+y.item(0)

In [ ]:
x.item(1)+y.item(1)