# Project 1: Titanic. Due Sunday, April 28th at 11:59pm

In [ ]:
# Don't change this cell
from datascience import *

import matplotlib.pyplot as plots
%matplotlib inline
plots.style.use('fivethirtyeight')

import numpy as np

from client.api.notebook import Notebook
ok = Notebook('project01.ok')
_ = ok.auth(inline=True)

## Announcements

This assignment is due Sunday, April 28th at 11:59pm. You can use a slip day to extend the deadline by 24 hours.

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

The project is more challenging than the homeworks. You are encouraged to find a partner and use pair programming.

Definitely start early so that you have time to get help if you're stuck. A calendar with lab hour times and locations appears on [https://www.dsc10.com/staff-hours](https://www.dsc10.com/staff-hours).

## About the Titanic

"RMS Titanic was a British passenger liner that sank in the North Atlantic Ocean in 1912, after colliding with an iceberg during her maiden voyage from Southampton to New York City. Of the estimated 2,224 passengers and crew aboard, more than 1,500 died, making it one of modern history's deadliest commercial marine disasters during peacetime. RMS Titanic was the largest ship afloat at the time she entered service and was the second of three Olympic-class ocean liners operated by the White Star Line." (https://en.wikipedia.org/wiki/RMS_Titanic)

![title](https://upload.wikimedia.org/wikipedia/commons/6/6e/St%C3%B6wer_Titanic.jpg)

## Part 1: Understand and Modify Titanic Data

In this section, you will attempt to understand the landscape of the Titanic dataset. You will explore the meaning and makeup of the columns by answering some questions about the dataset.

**The Data**

This dataset has been modified from [Kaggle](https://www.kaggle.com/c/titanic) and includes the following information on Titanic passengers:

1. `Survived`: 1 indicates that the passenger survived. 0 indicates that the passenger did not survive.
2. `Pclass`: Passenger class status: 1 for upper class, 2 for middle class, 3 for lower class.
3. `Name`: Passenger's name.
4. `Sex`: Passenger's gender.
5. `Age`: Passenger's age
6. `Siblings/Spouses Aboard`: Total number of siblings and spouses aboard. Included are brothers, sisters, stepbrothers, stepsisters, husbands, and wives.
7. `Parents/Children Aboard`: Total number of parents and children aboard. Included are mothers, fathers, daughters, sons, stepdaughters, stepsons.
8. `Fare`: The fare (price) of the ticket, in British pounds.
9. `First Name`: Passenger's first name.

First, load the Titanic dataset into a table.
You should load the file using the path `data/titanic.csv` into a Table called `titanic`.

In [ ]:
titanic = ...
titanic

**Question 1.** Just for fun, what are the full names of the youngest and oldest passengers on board? Save your answers as `youngest` and `oldest`, and give the names exactly as they appear in the `Name` column.

In [ ]:
youngest = ...
oldest = ...
youngest, oldest

In [ ]:
_ = ok.grade('q1_1')

**Question 2.** Every passenger has a title, such as "Miss." or "Mr.", which appears as the first word of the `Name` column. Define a function called `extract_title` that takes a string as an input and returns the first word in the string. Then, use your function to add a column to the `titanic` table called `Title` containing the title of each passenger.

*Hint: Look up the available Python string methods.*

In [ ]:
# Define your function extract_title here

# Add a column here
titanic

In [ ]:
_ = ok.grade('q1_2')

**Question 3.** Make an array called `possible_titles` containing the different titles that were used by passengers on the Titanic. Each different title should appear only once, and titles should be alphabetically ordered.

*Hint: Look up `np.unique`.*

In [ ]:
possible_titles = ...
possible_titles

In [ ]:
_ = ok.grade('q1_3')

**Question 4.** Sum the cost of the first two tickets in the table, without changing or converting data types at all. You should see that the sum does not make sense. Explain what causes this.

In [ ]:
first_two = ...
first_two

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

*Write your explanation here, replacing this text.*

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

**Question 5.** How much revenue did the Titanic generate in ticket sales? Save your answer as `total_revenue`.

*Hint: Look up the available Python string methods.*

*Hint: Our solution involved defining a function and using ``apply``.*

In [ ]:
total_revenue = ...
total_revenue

In [ ]:
_ = ok.grade('q1_5')

**Question 6.** One British pound in 1912 is equivalent to 113.27 pounds today, due to inflation. One British pound today is equivalent to one US dollar and 33 cents. How much revenue did the Titanic make, measured in today's US dollars, and rounded to the nearest cent? Save your answer as `revenue_dollars`.

In [ ]:
revenue_dollars = ...
revenue_dollars

In [ ]:
_ = ok.grade('q1_6')

## Part 2: Passenger Class and Survival Rate

Now that we have a basic understanding of the data, we can investigate more interesting questions. In this section, we will explore the connection between a passenger's class and their chance of surviving.

**Question 1.** Create an array of size 3 called `class_percent` containing the percentage of passengers in each of the three classes. To do this, define variables
1. `class1`: the percentage of people in class 1
2. `class2`: the percentage of people in class 2
3. `class3`: the percentage of people in class 3  

The array `class_percent` should contain `class1`, `class2`, `class3` in this order.

In [ ]:
class1 = ...
class2 = ...
class3 = ...
class_percent = ...
class_percent

In [ ]:
_ = ok.grade('q2_1')

**Question 2.** Create an array of size 3 called `survival_rate` containing, for each class, the percentage of passengers in that class that survived. Similarly, create an array of size 3 called `mean_age` containing, for each class, the average age of all passengers in that class. For both arrays, do 1st class, then 2nd class, then 3rd class.

In [ ]:
survival_rate = ...
survival_rate

In [ ]:
mean_age = ...
mean_age

In [ ]:
_ = ok.grade('q2_2')

**Question 3.** Create a summary table called `stats_table` containing four columns:
1. `Class`: 1, 2, 3
2. `Survival Rate`: the survival rate, as a percentage, for each class
3. `Mean Age`: the average age of passengers in each class
4. `Percentage`: the percentage of passengers in each class

In [ ]:
stats_table = ...
stats_table

In [ ]:
_ = ok.grade('q2_3')

**Question 4.** The table above shows that survival rates were different in different passenger classes. Is the `Percentage` column relevant for interpreting the values in the `Survival Rate` column? In other words, can we directly compare survival rates for different classes, or do we need to take into account the percentages of passengers in each class to draw accurate conclusions about which passengers were most likely to survive?

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

*Write your answer here, replacing this text.*

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

**Question 5.** What does the following code calculate? Assign either 1, 2, 3, 4, or 5 to the name `code_interpretation` below.

In [ ]:
(survival_rate*class_percent/100).sum()

1. The average of the survival rates for each of the three classes.
2. The percentage of passengers aboard the Titanic that survived.
3. The total survival rate of all three classes.
4. The percentage of passengers aboard the Titanic in each of the three classes, all totaled.
5. None of the above.

In [ ]:
code_interpretation = ...

In [ ]:
_ = ok.grade('q2_5')

## Part 3: Survival of Men Versus Women

In this section, we will explore the survival rates of men and women, both in general and for each class. All survival rates should be given as percentages (between 0 and 100).

**Question 1.** Determine the overall women's survival rate and the overall men's survival rate. Save your answers in variables  `women_survival_rate` and `men_survival_rate`.

In [ ]:
women_survival_rate = ...
men_survival_rate = ...
women_survival_rate, men_survival_rate

In [ ]:
_ = ok.grade('q3_1')

**Question 2.** Determine the women's survival rate for each class, and the men's survival rate for each class. Assign these six variables:
1. `first_class_women_survival_rate`
2. `second_class_women_survival_rate`
3. `third_class_women_survival_rate`
4. `first_class_men_survival_rate`
5. `second_class_men_survival_rate`
6. `third_class_men_survival_rate`

In [ ]:
first_class_women_survival_rate = ...
second_class_women_survival_rate = ...
third_class_women_survival_rate = ...
first_class_men_survival_rate = ...
second_class_men_survival_rate = ...
third_class_men_survival_rate = ...
first_class_women_survival_rate, second_class_women_survival_rate, third_class_women_survival_rate, \
first_class_men_survival_rate, second_class_men_survival_rate, third_class_men_survival_rate

In [ ]:
_ = ok.grade('q3_2')

**Question 3.**  Generate a chart or plot that allows one to easily compare the survival rates of men and women across the three classes. Make sure your chart or plot is clearly labeled and unambiguous.

In [ ]:
# Make your visualization here.

**Question 4.**  The variables `men_survival_rate`, `first_class_men_survival_rate`, `second_class_men_survival_rate`, and `third_class_men_survival_rate` are related by an equation of the form

$$\text{men_survival_rate} = c_1*\text{first_class_men_survival_rate}+ c_2*\text{second_class_men_survival_rate} + c_3*\text{third_class_men_survival_rate}.$$

In this equation, the variable $c_1$ represents which of these quantities? Set `c1_meaning` to either 1, 2, or 3.
1. the number of men in first class
2. the percentage of men in first class
3. the proportion of men in first class

In [ ]:
c1_meaning = ...

In [ ]:
_ = ok.grade('q3_4')

## Part 4: Survival of Women by Marital Status

In this section, we will explore the survival rates of married women versus those of unmarried women. All survival rates should be given as percentages (between 0 and 100).

**Question 1.** Recall that each passenger's name included a title. Assuming that "Mrs." and "Mme." (Madame) denote a married woman, and "Miss." and "Mlle." (Mademoiselle) denote an unmarried women, let's try to figure out whether the marital status of women affected their chance of survival. Calculate the survival rates for married and unmarried women, saving your answers in variables `married_rate` and `unmarried_rate`. Women with ambiguous titles, such as "Lady" and "Ms.", should not be included in either group.

*Hint: The predicate `are.contained_in()` may be useful here.*

In [ ]:
married_rate = ...
unmarried_rate = ...
married_rate, unmarried_rate

In [ ]:
_ = ok.grade('q4_1')

**Question 2.** Now, letâ€™s compare the survival rate of children, `child_rate`, with the survival rate of adults, `adult_rate`. An adult is defined to be someone 18 years of age or older.

In [ ]:
child_rate = ...
adult_rate = ...
child_rate, adult_rate

In [ ]:
_ = ok.grade('q4_2')

**Question 3.** How does your answer to Question 2 inform your interpetation of the data in Question 1? Choose the best answer (1, 2, or 3) and save it in variable `q3_answer`.
1. The answer to Question 2 is **not relevant** to my interpretation of the data in Question 1. Knowing the children and adult survival rates does not affect whether marital status was important in determining survival.
2. The answer to Question 2 makes me **more certain** that marital status was important in determining survival.
3. The answer to Question 2 makes me **less certain** that marital status was important in determining survival.

In [ ]:
q3_answer = ...

In [ ]:
_ = ok.grade('q4_3')

## Part 5: Baby Names

Popular names are changing all the time! In this section, we will try to find out some interesting things about names around the time of the Titanic.

You can verify yourself that the average age of passengers onboard the Titanic was about 30 years old. Here, we provide you another dataset about popular names, based on social security records for people whose birth year is 1882 (Why 1882?). More information about this dataset can be found [here.](https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-level-data) The dataset contains a list of names with a count of how many babies born in 1882 were given that name.

**Question 1.** First, load the data from the file `data/names.csv` into a Table called `names`, then determine the lengths of the shortest and longest names in the dataset.

In [ ]:
names =  ...
min_length = ...
max_length = ...
min_length, max_length

In [ ]:
_ = ok.grade('q5_1')

**Question 2.** Generate a chart or plot that allows one to easily compare the relative popularity of the top 20 baby names of 1882. Make sure your chart or plot is clearly labeled and unambiguous.

In [ ]:
# Make your visualization here.

**Question 3.** What proportion of babies born in 1882 had one of the top 3 most popular baby names? Remember that a proportion should be between 0 and 1.

In [ ]:
proportion = ...
proportion

In [ ]:
_ = ok.grade('q5_3')

**Question 4.** Of the first names of passengers on board the Titanic, which name was most popular according to the names dataset in 1882? How many Titanic passengers have that name? Save your answers to these two questions as `most_popular_name` and `most_popular_name_count`, respectively.

In [ ]:
most_popular_name = ...
most_popular_name

In [ ]:
most_popular_name_count = ...
most_popular_name_count

In [ ]:
_ = ok.grade('q5_4')

**Question 5.** Surprisingly, the most common name among the Titanic passengers was not the most popular name of the time. Determine the most common name among the Titanic passengers, and save it as `most_common_name`. Determine how many passengers had that name and save it as `most_common_name_count.`

In [ ]:
most_common_name = ...
most_common_name

In [ ]:
most_common_name_count = ...
most_common_name_count

In [ ]:
_ = ok.grade('q5_5')

**Question 6.** Of the first names of passengers on board the Titanic, which names were least popular according to the names dataset in 1882? In this case, there are multiple names that are tied for least popular. How many Titanic passengers have each of these names? Save your answers to these two questions as `least_popular_names`, which should be an array, and `least_popular_name_count`, which should be an integer.

In [ ]:
least_popular_names = ...
least_popular_names

In [ ]:
least_popular_name_count = ...
least_popular_name_count

In [ ]:
_ = ok.grade('q5_6')

**Question 7. (Extra Credit)** Interestingly, there are some first names that both males and females used during that time! Create an array called `names_for_both` that contains all first names that were used by male and female Titanic passengers.

In [ ]:
names_for_both = ...
names_for_both

In [ ]:
_ = ok.grade('q5_7')

# Congratulations! You finished the project!

## To submit:

1. Select `Run All` from the `Cell` menu to ensure that you have executed all cells, including the test cells.
2. Read through the notebook to make sure everything is fine.
3. Submit using the cell below.
4. Save PDF and submit to Gradescope.
5. Add your partner (if applicable) on both OKPY and Gradescope.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]

In [ ]:
_ = ok.submit()

## Don't forget to submit your PDF to Gradescope!